@model IEnumerable<BogorSehat.Models.Entities.LayananR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JenisLayanan.JenisLayanan1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RumahSakit.NamaRS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JenisLayanan.JenisLayanan1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RumahSakit.NamaRS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdLayananRS }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdLayananRS }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdLayananRS })
        </td>
    </tr>
}

</table>
