@model BogorSehat.Models.Entities.Dokter

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Dokter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JenisKelamin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JenisKelamin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TanggalLahir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalLahir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KotaLahir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KotaLahir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alamat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agama1.Nama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agama1.Nama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spesiali.NamaSpesialis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spesiali.NamaSpesialis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NPA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
